<div class="container">
  <h2>Add a new route</h2>
  <form [formGroup]="listItemForm" (submit)="submitRoute()">
    <label for="item-name">Route name:</label>
    <input id="item-name"
           type="text"
           formControlName="routeName"
           maxlength="13"
           minlength="2"
           autocomplete="off"/>
    <label for="item-name">Route description:</label>
    <input id="item-name"
           type="text"
           formControlName="routeDescription"
           maxlength="100"
           minlength="5"
           autocomplete="off"/>
    <label for="item-name">Route rating:</label>
    <input id="item-name"
           type="text"
           formControlName="routeRating"
           maxlength="3"
           minlength="2"
           autocomplete="off"/>
    <label for="item-name">Route Image Link:</label>
    <input id="item-name"
           type="text"
           formControlName="routeImage"
           maxlength="500"
           minlength="2"
           autocomplete="off"/>
    <button type="submit">Create item</button>
  </form>
</div>
